@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.outerContainer {
  width: 100%;
  height: 100svh;
  background-color: rgba(238, 245, 255, 255);
  display: grid;
  place-items: center;
}
.innerContainer {
  width: 65%;
  height: 65%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.imgbox {
  width: 25%;
  height: 100%;
  background-image: url('./assets/images/bg-sidebar-desktop.png');
  border-radius: 17px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5%;
}
.stepname {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circlenum {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: rgba(190, 226, 251, 255) 2px solid;
  display: grid;
  place-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.2rem;
}
.current {
  background: rgba(190, 226, 251, 255);
  color: black;
}
.stepinfo {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
}
.stepcount {
  font-size: 0.8rem;
  color: rgba(145, 146, 247, 255);
}
.stepdetail {
  color: white;
  font-weight: 500;
}

/* step -1 */

.form-Container {
  width: 73%;
  height: 100%;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_box {
  height: 100%;
  width: 80%;
}
.heading {
  width: 100%;
  height: 20%;
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading > h1 {
  color: rgba(9, 45, 85, 255);
}
.heading > p {
  color: rgb(181, 180, 180);
  font-size: 1rem;
}
.formInputs {
  width: 100%;
  height: 69%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.innerBoxInput {
  width: 100%;
  height: 23%;
  display: flex;
  flex-direction: column;
}
.innerBoxInput > label {
  font-size: 0.9rem;
  color: rgba(9, 45, 85, 255);
  font-weight: 500;
}
.innerBoxInput > input {
  width: 80%;
  height: 100%;
  border-radius: 7px;
  border: rgb(181, 180, 180) 2px solid;
  font-size: 1.2rem;
  color: rgba(9, 45, 85, 255);
  font-weight: 500;
  padding: 0 20px 0 20px;
  outline: none;
  box-shadow: none;
}
.innerBoxInput > input :active {
  border: rgba(9, 45, 85, 255) 2px solid;
}
.button_box {
  height: 11%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.button_box > .next_button {
  width: 30%;
  height: 110%;
  border: none;
  border-radius: 6px;
  background-color: rgba(72, 62, 255, 255);
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
.button_box > .next_button:hover {
  background-color: rgba(25, 75, 144, 255);
}

/* step-2 */
.formInputs.Step-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 10%;
}
.formInputs.Step-2 > .Card {
  width: 30%;
  height: 100%;
  border: rgb(230, 230, 230) 2px solid;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formInputs.Step-2 > .Card:hover {
  border: rgba(9, 45, 85, 255) 2px solid;
}

.formInputs.Step-2 > .Card.select {
  border: rgba(9, 45, 85, 255) 2px solid;
}
.formInputs.Step-2 > .Card > img {
  width: 40%;
}
.formInputs.Step-2 > .Card > .planinfo > .main {
  color: rgba(9, 45, 85, 255);
  font-size: 1.3rem;
  font-weight: 500;
}
.formInputs.Step-2 > .Card > .planinfo > p {
  color: rgb(181, 180, 180);
}
.toggle_box {
  height: 19%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerToggle {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.toggel_label {
  background-color: rgba(9, 45, 85, 255);
  width: 60px;
  height: 30px;
  border-radius: 60px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.toggel_label::before {
  position: absolute;
  content: '';
  background: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0.86px;
  transition: 0.2s;
}
.toggle:checked + .toggel_label::before {
  transform: translateX(30px);
}
.toggle {
  display: none;
}
.innerToggle > p {
  color: rgb(181, 180, 180);
}
.innerToggle > p.cheked {
  color: rgba(9, 45, 85, 255);
  font-size: 1.3rem;
  font-weight: 500;
}
.next-step-button {
  justify-content: space-between;
}
.back_button {
  width: 30%;
  height: 110%;
  font-size: 1rem;
  border: none;
  background-color: white;
  color: rgb(181, 180, 180);
  transition: 0.4s;
  cursor: pointer;
}
.back_button:hover {
  color: rgba(9, 45, 85, 255);
  font-weight: 500;
  font-size: 1.1rem;
}

/* step 3 */
.formInputs.Step-3 {
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
.addonscheckcontainer {
  width: 100%;
  height: 30%;
  border: rgba(129, 124, 179, 255) 2px solid;
  border-radius: 8px;
  display: flex;
}
.addonscheckcontainer > .inputcheckbox {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addonscheckcontainer > .inputcheckbox > input {
  width: 60%;
  height: 60%;
  border-radius: 5px;
  accent-color: rgba(72, 62, 255, 255);
}
.addonscheckcontainer > .checkInfobox {
  width: 60%;
  height: 100%;
  padding: 5% 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.addonscheckcontainer > .checkInfobox > h4 {
  font-size: 1.2rem;
  color: rgba(9, 45, 85, 255);
  font-weight: 500;
}
.addonscheckcontainer > .checkInfobox > p {
  font-size: 0.9rem;
  font-weight: 550;
  color: rgb(181, 180, 180);
}
.addonscheckcontainer > .addonprice {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(122, 114, 202, 255);
}

/* step-4 */
.formInputs.Step-4 {
  justify-content: flex-start;
  padding-top: 20px;
}
.planprice {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: rgb(230, 230, 230) 2px solid;

  background-color: #f8ffff;
}
.planprice > .innerplanprice > h4 {
  font-size: 1.1rem;
  color: rgba(9, 45, 85, 255);
}
.planprice > p {
  color: rgba(9, 45, 85, 255);
  font-weight: 450;
}
.addonfinalprice {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.addonfinalprice > .inneraddonfinalprice {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8ffff;
  padding: 10px;
}
.addonfinalprice > .inneraddonfinalprice > .addonprices {
  font-size: 0.9rem;
  font-weight: 450;
  color: rgba(9, 45, 85, 255);
}
.addonfinalprice > .inneraddonfinalprice > .tag {
  font-size: 0.9rem;
  font-weight: 450;
  color: rgb(181, 180, 180);
}
.totalprice {
  width: 100%;
  height: 25%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.totalprice > .tag {
  font-size: 1rem;
  font-weight: 450;
  color: rgb(181, 180, 180);
}

.totalprice > .num {
  font-size: 2rem;
  font-weight: 550;
  color: rgba(71, 59, 255, 255);
}
.next_button.confirm {
  background-color: rgba(147, 140, 254, 255);
}
.next_button.confirm:hover {
  background-color: rgba(71, 59, 255, 255);
}

/* responsiveness */

@media (max-width: 1000px) {
  .outerContainer {
    align-items: flex-end;
    padding-bottom: 20px;
  }
  .innerContainer {
    width: 95%;
    height: 85%;
  }
  .imgbox {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    width: 100%;
    height: 30%;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    z-index: 1;
  }

  .imgbox > .stepname > .stepinfo {
    display: none;
  }
  .stepname {
    width: 15%;
  }
  .form-Container {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
  }
  .info_box {
    width: 90%;
  }
  .formInputs.Step-2 {
    overflow-y: auto;
    flex-direction: column;
    padding: 20px 0 20px 0;
    align-items: center;
    justify-content: space-around;
  }
  .formInputs.Step-2 > .Card {
    width: 80%;
    height: 70%;
    margin: 10px 0 10px 0;
    flex-direction: row;
    justify-content: flex-start;
  }
  .formInputs.Step-2 > .Card > img {
    width: 30%;
  }
  .formInputs.Step-2 > .Card > .planinfo {
    padding-left: 15px;
  }
  .toggle_box {
    height: 9%;
    width: 100%;
  }
  .innerToggle {
    width: 100%;
  }
  .addonscheckcontainer {
    width: 100%;
  }
  .totalprice > .num {
    font-size: 1.6rem;
  }
  .next_button.confirm {
    font-size: 1.2rem;
  }
}
